<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<head>

    <title>Manage Jobs | Jobcy - Job Listing Template | Themesdesign</title>

    <div th:insert="~{fragments :: meta}"></div>
</head>

<body >
<div th:insert="~{fragments :: preloader}"></div>
<div>
    <div th:insert="~{fragments :: top-bar}"></div>
    <div th:insert="~{fragments :: navbar}"></div>

            <div class="main-content">

                <div class="page-content">

                    <!-- Start home -->
                    <section class="page-title-box">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="text-center text-white">
                                        <h3 class="mb-4">Candidate List</h3>
                                        <div class="page-next">
                                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                                <ol class="breadcrumb justify-content-center">
                                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page"> Candidate List </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </section>
                    <!-- end home -->

                    <!-- START SHAPE -->
                    <div class="position-relative" style="z-index: 1">
                        <div class="shape">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                                <path fill="" fill-opacity="1"
                                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                            </svg>
                        </div>
                    </div>
                    <!-- END SHAPE -->


                    <!-- START JOB-LIST -->
                    <section class="section">
                        <div class="container"><!--end row-->
                        <div class="container"><!--end row-->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="candidate-list">
                                        <input type="hidden" id="jobId" th:value="${jobId}">
                                        <div id="users"></div>

                                        <script>
                                            loadUsername();
                                            function loadUsername() {
                                                const httpRequest = new XMLHttpRequest();
                                                httpRequest.open("GET", "/api/v1/jobs-users/job/" + document.getElementById("jobId").value, true);
                                                let body = "";
                                                httpRequest.onreadystatechange = function () {
                                                    if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
                                                        let users = JSON.parse(httpRequest.responseText);
                                                        console.log(users);

                                                        for (let i = 0; i < users.length; i++) {
                                                            body += "<div class=\"candidate-list-box card mt-4\">\n" +
                                                                "                                            <div class=\"card-body p-4\">\n" +
                                                                "                                                <div class=\"row align-items-center\">\n" +
                                                                "                                                    <div class=\"col-auto\">\n" +
                                                                "                                                        <div class=\"candidate-list-images\">\n" +
                                                                "                                                            <a href=\"javascript:void(0)\"><img src=\"/api/v1/users/" + users[i].id + "/image\" alt=\"\" class=\"avatar-md img-thumbnail rounded-circle\"></a>\n" +
                                                                "                                                        </div>\n" +
                                                                "                                                    </div><!--end col-->\n" +
                                                                "                                                    \n" +
                                                                "                                                    <div class=\"col-lg-5\">\n" +
                                                                "                                                        <div class=\"candidate-list-content mt-3 mt-lg-0\">\n" +
                                                                "                                                            <h5 class=\"fs-19 mb-0\"><a href=\"/profile/" + users[i].user.id + "\" class=\"primary-link\">" + users[i].user.username + "</a></h5>\n" +
                                                                "                                                            <p class=\"text-muted mb-2\">" + users[i].user.email + "</p>\n" +
                                                                "                                                            <p class=\"text-muted mb-2\">" + users[i].message + "</p>\n" +
                                                                "                                                        </div>\n" +
                                                                "                                                    </div><!--end col-->\n" +
                                                                "                                                </div><!--end row-->\n" +
                                                                "                                            </div>\n" +
                                                                "                                        </div> <!--end card-->"
                                                        }
                                                        document.getElementById("users").innerHTML = body;
                                                    }
                                                }
                                                httpRequest.send();
                                            }
                                        </script>
                                        
                                    </div><!--end candidate-list-->
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end container-->
                    </section>
                    <!-- END JOB-LIST -->

                </div>
                <!-- End Page-content -->


                <div th:insert="~{fragments :: footer}">

                </div>
                <!--start back-to-top-->
                <button onclick="topFunction()" id="back-to-top">
                    <i class="mdi mdi-arrow-up"></i>
                </button>
                <!--end back-to-top-->
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


        <!-- Choice Js -->
        <script src="/libs/choices.js/public/assets/scripts/choices.min.js"></script>

        <!-- Candidate Init Js -->
        <script src="/js/pages/candidate.init.js"></script>

        <!-- Job-list Init Js -->
        <script src="/js/pages/job-list.init.js"></script>

        <!-- Switcher Js -->
        <script src="/js/pages/switcher.init.js"></script>

        <!-- App Js -->
        <script src="/js/app.js"></script>

    </body>
</html>