<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Job List | Jobcy - Job Listing Template | Themesdesign</title>

    <div th:insert="~{fragments :: meta}"></div>
</head>

<body>
<div th:insert="~{fragments :: preloader}"></div>
<div>
    <div th:insert="~{fragments :: top-bar}"></div>
    <div th:insert="~{fragments :: navbar}"></div>

    <div class="main-content">

        <div class="page-content">

            <!-- Start home -->
            <section class="page-title-box">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="text-center text-white">
                                <h3 class="mb-4">Job List</h3>
                                <div class="page-next">
                                    <nav aria-label="breadcrumb text-center" class="d-inline-block">
                                        <ol class="breadcrumb justify-content-center">
                                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                            <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                                            <li aria-current="page" class="breadcrumb-item active"> Job List</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <!-- end home -->

            <!-- START SHAPE -->
            <div class="position-relative" style="z-index: 1">
                <div class="shape">
                    <svg viewBox="0 0 1440 250" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z" fill=""
                              fill-opacity="1"></path>
                    </svg>
                </div>
            </div>
            <!-- END SHAPE -->


            <!-- START JOB-LIST -->
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="me-lg-5">
                                <script>
                                    loadJobs(0, 10);

                                    function loadJobs(page, size) {
                                        $(document).ready(function () {
                                            $.get("/api/v1/jobs?page=" + page + "&size=" + size + parseFilter(), function (data) {
                                                data = data.content;
                                                let content = "";
                                                for (let i = 0; i < data.length; i++) {
                                                    content += "<div class=\"job-box card mt-5\">\n" +
                                                        "                                        <div class=\"p-4\">\n" +
                                                        "                                            <div class=\"row align-items-center\">\n" +
                                                        "                                                <div class=\"col-md-2\">\n" +
                                                        "                                                    <div class=\"text-center mb-4 mb-lg-0\">\n" +
                                                        "                                                        <a href=\"/profile/" + data[i].user.id + "\"><img src=\"/api/v1/users/" + data[i].user.id + "/image\" alt=\"\" class=\"img-fluid rounded-3\"></a>\n" +
                                                        "                                                    </div>\n" +
                                                        "                                                </div>\n" +
                                                        "                                                <!--end col-->\n" +
                                                        "                                                <div class=\"col-md-3\">\n" +
                                                        "                                                    <div class=\"mb-2 mb-md-0\">\n" +
                                                        "                                                        <h5 class=\"fs-18 mb-0\"><a href=\"/jobs/" + data[i].id + "\" class=\"text-dark\">" + data[i].name + "</a></h5>\n" +
                                                        "                                                        <p class=\"text-muted fs-14 mb-0\">" + data[i].user.username + "</p>\n" +
                                                        "                                                    </div>\n" +
                                                        "                                                </div>\n" +
                                                        "                                                <!--end col-->\n" +
                                                        "                                                <div class=\"col-md-3\">\n" +
                                                        "                                                    <div class=\"d-flex mb-2\">\n" +
                                                        "                                                        <div class=\"flex-shrink-0\">\n" +
                                                        "                                                            <i class=\"mdi mdi-map-marker text-primary me-1\"></i>\n" +
                                                        "                                                        </div>\n" +
                                                        "                                                        <p class=\"text-muted\">" + data[i].location + "</p>\n" +
                                                        "                                                    </div>\n" +
                                                        "                                                </div>\n" +
                                                        "                                                <!--end col-->\n" +
                                                        "                                                <div class=\"col-md-2\">\n" +
                                                        "                                                    <div class=\"d-flex mb-0\">\n" +
                                                        "                                                        <div>\n" +
                                                        "                                                            <p class=\"text-muted mb-0\">\n" +
                                                        "                                                                <span class=\"text-primary\">$</span>" + data[i].salary + "/m</p>\n" +
                                                        "                                                        </div>\n" +
                                                        "                                                    </div>\n" +
                                                        "                                                </div>\n" +
                                                        "                                                <!--end col-->\n" +
                                                        "                                                <div class=\"col-md-2\">\n" +
                                                        "                                                    <div>\n" +
                                                        "                                                        <span class=\"badge bg-success-subtle text-success fs-13 mt-1\">" + data[i].type + "</span>\n" +
                                                        "                                                    </div>\n" +
                                                        "                                                </div>\n" +
                                                        "                                                <!--end col-->\n" +
                                                        "                                            </div>\n" +
                                                        "                                            <!--end row-->\n" +
                                                        "                                        </div>\n" +
                                                        "                                        <div class=\"p-3 bg-light\">\n" +
                                                        "                                            <div class=\"row justify-content-between\">\n" +
                                                        "                                                <div class=\"col-md-4\">\n" +
                                                        "                                                    <div>\n" +
                                                        "                                                        <p class=\"text-muted mb-0\"><span class=\"text-dark\">Experience :</span>\n" +
                                                        "                                                            <span>" + data[i].experience.level + "</span>\n" +
                                                        "                                                        </p>\n" +
                                                        "                                                    </div>\n" +
                                                        "                                                </div>\n" +
                                                        "                                                <!--end col-->\n" +
                                                        "                                                <div class=\"col-lg-2 col-md-3\">\n" +
                                                        "                                                    <div class=\"text-start text-md-end\">\n" +
                                                        "                                                        <a onclick='document.getElementById(\"jobId\").value = " + data[i].id + "' href=\"#applyNow\" data-bs-toggle=\"modal\" class=\"primary-link\">Apply Now <i class=\"mdi mdi-chevron-double-right\"></i></a>\n" +
                                                        "                                                    </div>\n" +
                                                        "                                                </div>\n" +
                                                        "                                                <!--end col-->\n" +
                                                        "                                            </div>\n" +
                                                        "                                            <!--end row-->\n" +
                                                        "                                        </div>\n" +
                                                        "                                    </div>\n" +
                                                        "                                    <!--end job-box-->";
                                                }
                                                $("#jobs-list").html(content);
                                            })
                                        })
                                        loadPagination(page, size);
                                    }

                                    function parseFilter() {
                                        let name = document.getElementById('exampleFormControlInput1');
                                        let location = document.getElementById('choices-single-location');
                                        let category = document.getElementById('choices-single-categories');
                                        let experience = document.forms.filterForm.elements.experience;
                                        let type = document.forms.filterForm.elements.type;
                                        let postDate = document.forms.filterForm.elements.postDate;
                                        let keywords = document.getElementsByName('keywords');
                                        let words = "";
                                        for (let i = 0; i < keywords.length; i++) {
                                            if (keywords[i].checked) {
                                                words += "&keywords=" + keywords[i].value;
                                            }
                                        }
                                        return (name == null ? "" : "&name=" + name.value)
                                            + (location == null ? "" : "&location=" + location.value)
                                            + (category == null ? "" : "&categoryId=" + category.value)
                                            + (experience == null ? "" : "&experienceId=" + experience.value)
                                            + (type == null ? "" : "&type=" + type.value)
                                            + (postDate == null || postDate.value === "" || postDate.value === "all" ? "" : "&postDate=" + postDate.value)
                                            + (words);
                                    }

                                    function loadPagination(page, size) {
                                        $(document).ready(function () {
                                            $.get("/api/v1/jobs?page=" + page + "&size=" + size + parseFilter(), function (data) {
                                                let content = "";
                                                if (data.totalElements > 0) {
                                                    content += "<ul class=\"pagination job-pagination mb-0 justify-content-center\">\n" +
                                                        "                                                <li class=\"page-item\">\n" +
                                                        "                                                    <button class=\"page-link\" tabindex=\"-1\" onclick=\"loadJobs(0, 10)\">\n" +
                                                        "                                                        <i class=\"mdi mdi-chevron-double-left fs-15\"></i>\n" +
                                                        "                                                    </button>\n" +
                                                        "                                                </li>\n";
                                                    for (let i = 0; i < data.totalElements / 10; i++) {
                                                        content += "                                         <li class=\"page-item" + (i == data.number ? ' active' : '') + "\">\n" +
                                                            // "                                                    <a class=\"page-link\" href=\"/jobs?page=" + i + "&size=" + 10 + "\">" + i+1 + "</a>\n" +
                                                            "                                                    <button class=\"page-link\" onclick='loadJobs(" + i + ", 10)'>" + (i + 1) + "</button>\n" +
                                                            "                                                </li>\n";
                                                    }
                                                    content += "                                                <li class=\"page-item\">\n" +
                                                        "                                                    <button class=\"page-link\" tabindex=\"-1\" onclick=\"loadJobs(" + (data.totalPages) + ", 10)\">\n" +
                                                        "                                                        <i class=\"mdi mdi-chevron-double-right fs-15\"></i>\n" +
                                                        "                                                    </button>\n" +
                                                        "                                                </li>\n" +
                                                        "                                            </ul>";
                                                }
                                                $("#pagination").html(content);
                                            })
                                        })
                                    }

                                    function apply() {
                                        $(document).ready(function () {
                                            $.ajax({
                                                    url: "/api/v1/jobs-users/apply",
                                                    type: "POST",
                                                    data: JSON.stringify({
                                                        jobId: document.getElementById("jobId").value,
                                                        userId: document.getElementById("userId").value,
                                                        message: document.getElementById("message").value
                                                    }),
                                                    contentType: "application/json; charset=utf-8",
                                                    dataType: "json",
                                                }
                                            );
                                        });
                                    }
                                </script>

                                <div id="jobs-list">
                                </div>

                                <input id="jobId" type="hidden" value="dummy">
                                <input id="userId" th:value="${userId}" type="hidden">
                                <!-- End Job-list -->
                                <div class="row">
                                    <!--                                    <div class="col-lg-12 mt-4 pt-2" th:if="${jobs.getTotalPages() > 10}">-->
                                    <div class="col-lg-12 mt-4 pt-2">
                                        <nav aria-label="Page navigation example" id="pagination">

                                        </nav>
                                    </div>
                                    <!--end col-->
                                </div><!-- end row -->
                            </div>
                        </div>
                        <!--end col-->

                        <!-- START SIDE-BAR -->
                        <div class="col-lg-3">
                            <div class="side-bar mt-5 mt-lg-0">
                                <div class="accordion" id="accordionExample">
                                    <form name="filterForm">
                                        <div class="row">
                                            <div class="col mt-4">
                                                <div class="filler-job-form">
                                                    <i class="uil uil-briefcase-alt"></i>
                                                    <input class="form-control filter-input-box" id="exampleFormControlInput1"
                                                           placeholder="Job, Company name..."
                                                           th:value="${filter.getName()}"
                                                           type="search">
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="row">
                                            <div class="col mt-4">
                                                <div class="filler-job-form">
                                                    <i class="uil uil-location-point"></i>
                                                    <select aria-label="Default select example" class="form-select"
                                                            id="choices-single-location"
                                                            name="location">
                                                        <option disabled selected value="">Select city</option>
                                                        <option th:each="city : ${cities}"
                                                                th:selected="${city.name() == filter.getLocation()}"
                                                                th:text="${city.name()}" th:value="${city.name()}">City
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="row">
                                            <div class="col mt-4">
                                                <div class="filler-job-form">
                                                    <i class="uil uil-clipboard-notes"></i>
                                                    <select aria-label="Default select example" class="form-select"
                                                            id="choices-single-categories"
                                                            name="categoryId">
                                                        <option disabled selected value="">Select category</option>
                                                        <option th:each="category : ${categories}"
                                                                th:selected="${filter.getCategoryId() == category.getId()}"
                                                                th:text="${category.getName()}"
                                                                th:value="${category.getId()}">Category name
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->

                                        <div class="accordion-item mt-4">
                                            <h2 class="accordion-header" id="experienceOne">
                                                <button aria-controls="experience" aria-expanded="true" class="accordion-button"
                                                        data-bs-target="#experience" data-bs-toggle="collapse"
                                                        type="button">
                                                    Work experience
                                                </button>
                                            </h2>
                                            <div aria-labelledby="experienceOne" class="accordion-collapse collapse show"
                                                 id="experience">
                                                <div class="accordion-body">
                                                    <div class="side-title">
                                                        <div class="form-check mt-2"
                                                             th:each="experience : ${experiences}">
                                                            <input class="form-check-input" id="flexCheckChecked1"
                                                                   name="experience" th:checked="${filter.getExperienceId() != null && experience.getId() == filter.getExperienceId()}"
                                                                   th:value="${experience.getId()}"
                                                                   type="radio"/>
                                                            <label class="form-check-label ms-2 text-muted"
                                                                   for="flexCheckChecked1"
                                                                   th:text="${experience.getLevel()}">Experience</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end accordion-item -->

                                        <div class="accordion-item mt-3">
                                            <h2 class="accordion-header" id="jobType">
                                                <button aria-controls="jobtype1" aria-expanded="false" class="accordion-button"
                                                        data-bs-target="#jobtype1" data-bs-toggle="collapse"
                                                        type="button">
                                                    Type of employment
                                                </button>
                                            </h2>
                                            <div aria-labelledby="jobType" class="accordion-collapse collapse show"
                                                 id="jobtype1">
                                                <div class="accordion-body">
                                                    <div class="side-title">
                                                        <div class="form-check mt-2" th:each="type : ${types}">
                                                            <input class="form-check-input" id="type" name="type"
                                                                   th:checked="${type == filter.getType()}" th:value="${type.name()}"
                                                                   type="radio">
                                                            <label class="form-check-label ms-2 text-muted"
                                                                   th:for="type"
                                                                   th:text="${type.name().replace('_', '-')}">
                                                                Type
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end accordion-item -->

                                        <div class="accordion-item mt-3">
                                            <h2 class="accordion-header" id="datePosted">
                                                <button aria-controls="dateposted1" aria-expanded="false" class="accordion-button"
                                                        data-bs-target="#dateposted1" data-bs-toggle="collapse"
                                                        type="button">
                                                    Date Posted
                                                </button>
                                            </h2>
                                            <div aria-labelledby="datePosted" class="accordion-collapse collapse show"
                                                 id="dateposted1">
                                                <div class="accordion-body">
                                                    <div class="side-title form-check-all"
                                                         th:with="currentDateTime = ${#temporals.createNow()}">
                                                        <div class="form-check mt-2">
                                                            <input class="form-check-input" id="flexCheckChecked" name="postDate"
                                                                   th:value="${currentDateTime.minusHours(1)}"
                                                                   type="radio"/>
                                                            <!--                                                            <p th:text="${currentDateTime.minusHours(1)}"></p>-->
                                                            <!--                                                            <p th:text="${filter.postDate()}"></p>-->
                                                            <label class="form-check-label ms-2 text-muted"
                                                                   for="flexCheckChecked">
                                                                Last Hour
                                                            </label>
                                                        </div>
                                                        <div class="form-check mt-2">
                                                            <input class="form-check-input" id="flexCheckChecked" name="postDate"
                                                                   th:value="${#temporals.createNow().minusDays(1)}"
                                                                   type="radio"/>
                                                            <label class="form-check-label ms-2 text-muted"
                                                                   for="flexCheckChecked">
                                                                Last 24 hours
                                                            </label>
                                                        </div>
                                                        <div class="form-check mt-2">
                                                            <input class="form-check-input" id="flexCheckChecked" name="postDate"
                                                                   th:value="${#temporals.createNow().minusWeeks(1)}"
                                                                   type="radio"/>
                                                            <label class="form-check-label ms-2 text-muted"
                                                                   for="flexCheckChecked">
                                                                Last 7 days
                                                            </label>
                                                        </div>
                                                        <div class="form-check mt-2">
                                                            <input class="form-check-input" id="flexCheckChecked" name="postDate"
                                                                   th:value="${#temporals.createNow().minusWeeks(2)}"
                                                                   type="radio"/>
                                                            <label class="form-check-label ms-2 text-muted"
                                                                   for="flexCheckChecked">
                                                                Last 14 days
                                                            </label>
                                                        </div>
                                                        <div class="form-check mt-2">
                                                            <input class="form-check-input" id="flexCheckChecked" name="postDate"
                                                                   th:value="${#temporals.createNow().minusMonths(1)}"
                                                                   type="radio"/>
                                                            <label class="form-check-label ms-2 text-muted"
                                                                   for="flexCheckChecked">
                                                                Last 30 days
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end accordion-item -->

                                        <div class="accordion-item mt-3">
                                            <h2 class="accordion-header" id="tagCloud">
                                                <button aria-controls="tagcloud1" aria-expanded="false" class="accordion-button"
                                                        data-bs-target="#tagcloud1" data-bs-toggle="collapse"
                                                        type="button">
                                                    Tags Cloud
                                                </button>
                                            </h2>
                                            <div aria-labelledby="tagCloud" class="accordion-collapse collapse show"
                                                 id="tagcloud1">
                                                <div class="accordion-body">
                                                    <div class="side-title">
                                                        <div class="form-check mt-2" th:each="keyword : ${keywords}">
                                                            <input class="form-check-input" name="keywords"
                                                                   th:checked="${filter.getKeywords() != null && filter.getKeywords().contains(keyword)}" th:id="keywords"
                                                                   th:value="${keyword.getId()}"
                                                                   type="checkbox"/>
                                                            <label class="form-check-label ms-2 text-muted"
                                                                   th:for="keywords" th:text="${keyword.getName()}">
                                                                Keyword
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end accordion-item -->
                                    </form>
                                    <div class="col col-md-6">
                                        <button class="btn btn-primary w-100" onclick="loadJobs(0, 10)" type="submit">
                                            <i class="uil uil-filter"></i> Filter
                                        </button>
                                    </div>
                                </div>
                                <!--end accordion-->
                            </div>
                            <!--end side-bar-->
                        </div>
                        <!--end col-->
                        <!-- END SIDE-BAR -->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <!-- END JOB-LIST -->

            <div th:insert="~{fragments :: applyModal}"></div>
        </div>
        <!-- End Page-content -->

        <div th:insert="~{fragments :: footer}">

            <!--start back-to-top-->
            <button id="back-to-top" onclick="topFunction()">
                <i class="mdi mdi-arrow-up"></i>
            </button>
            <!--end back-to-top-->
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- JAVASCRIPT -->
    <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


    <!-- Choice Js -->
    <script src="/libs/choices.js/public/assets/scripts/choices.min.js"></script>

    <!-- Nouislider Js -->
    <script src="/libs/nouislider/nouislider.min.js"></script>
    <script src="/js/pages/area-filter-range.init.js"></script>

    <!-- Checkbox Init Js -->
    <script src="/js/pages/checkbox.init.js"></script>

    <!-- Job Init Js -->
    <script src="/js/pages/job-list.init.js"></script>

    <!-- Switcher Js -->
    <script src="/js/pages/switcher.init.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/formsSubmitter.js"></script>

</body>

</html>