<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<head>
        
        <title>Manage Jobs | Jobcy - Job Listing Template | Themesdesign</title>

    <div th:insert="~{fragments :: meta}"></div>
</head>

<body >
<div th:insert="~{fragments :: preloader}"></div>
<div>
    <div th:insert="~{fragments :: top-bar}"></div>
    <div th:insert="~{fragments :: navbar}"></div>
            <div class="main-content">

                <div class="page-content">

                    <!-- Start home -->
                    <section class="page-title-box">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="text-center text-white">
                                        <h3 class="mb-4">Manage Jobs</h3>
                                        <div class="page-next">
                                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                                <ol class="breadcrumb justify-content-center">
                                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Profile</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page"> Manage Jobs </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </section>
                    <!-- end home -->

                    <!-- START SHAPE -->
                    <div class="position-relative" style="z-index: 1">
                        <div class="shape">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                                <path fill="" fill-opacity="1"
                                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                            </svg>
                        </div>
                    </div>
                    <!-- END SHAPE -->


                    <!-- START MANAGE-JOBS -->
                    <section class="section">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-8">
                                    <div class="mb-4 mb-lg-0">
                                        <h6 class="mb-0"> My Job Listings </h6>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-4">
                                    <div class="candidate-list-widgets">
                                        <div class="row">
                                            <a th:href="'/users/user/jobs/post/' + ${userId} + '?isUserId'"  class="btn btn-success">Post New</a>
                                        </div><!--end row-->
                                    </div><!--end candidate-list-widgets-->
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row">

                                <script>
                                    loadManagedJobs();

                                    function loadManagedJobs() {
                                        $(document).ready(function () {
                                            $.get("/api/v1/users/user/jobs", function (data) {
                                                let content = "";
                                                for (let i = 0; i < data.length; i++) {
                                                    content += "<div class=\"job-box card mt-4\">\n" +
                                                        "                                        <div class=\"card-body p-4\">\n" +
                                                        "                                            <div class=\"row\">\n" +
                                                        "                                                <div class=\"col-lg-1\">\n" +
                                                        "                                                    <a href=\"company-details.html\"><img src=\"/api/v1/users/" + data[i].user.id + "/image\" alt=\"\" class=\"img-fluid rounded-3\"></a>\n" +
                                                        "                                                </div><!--end col-->\n" +
                                                        "                                                <div class=\"col-lg-9\">\n" +
                                                        "                                                    <div class=\"mt-3 mt-lg-0\">\n" +
                                                        "                                                        <h5 class=\"fs-17 mb-1\"><a href=\"/jobs/" + data[i].id + "\" class=\"text-dark\">" + data[i].name + "</a> <small class=\"text-muted fw-normal\">(" + data[i].experience.level + " Exp.)</small></h5>\n" +
                                                        "                                                        <ul class=\"list-inline mb-0\">\n" +
                                                        "                                                            <li class=\"list-inline-item\">\n" +
                                                        "                                                                <p class=\"text-muted fs-14 mb-0\">" + data[i].user.username + "</p>\n" +
                                                        "                                                            </li>\n" +
                                                        "                                                            <li class=\"list-inline-item\">\n" +
                                                        "                                                                <p class=\"text-muted fs-14 mb-0\"><i class=\"mdi mdi-map-marker\"></i>" + data[i].location + "</p>\n" +
                                                        "                                                            </li>\n" +
                                                        "                                                            <li class=\"list-inline-item\">\n" +
                                                        "                                                                <p class=\"text-muted fs-14 mb-0\"><i class=\"uil uil-wallet\"></i> " + data[i].salary + " / month</p>\n" +
                                                        "                                                            </li>\n" +
                                                        "                                                        </ul>\n" +
                                                        "                                                        <div class=\"mt-2\">\n" +
                                                        "                                                            <span class=\"badge danger-bg-subtle mt-1\">" + data[i].type + "</span>\n" +
                                                        "                                                            <span class=\"badge info-bg-subtle mt-1\">" + data[i].industry + "</span>\n" +
                                                        "                                                        </div>\n" +
                                                        "                                                    </div>\n" +
                                                        "                                                </div><!--end col-->\n" +
                                                        "                                                <div class=\"col-lg-2 align-self-center\">\n" +
                                                        "                                                    <ul class=\"list-inline mt-3 mb-0\">\n" +
                                                        "                                                        <li class=\"list-inline-item\">\n" +
                                                        "                                                            <a href=\"/jobs/" + data[i].id + "/applications\" class=\"avatar-sm success-bg-subtle d-inline-block text-center rounded-circle fs-18\">\n" +
                                                        "                                                                <i class=\"uil uil-align-left\"></i>\n" +
                                                        "                                                            </a>\n" +
                                                        "                                                        <li class=\"list-inline-item\" data-bs-toggle=\"tooltip\" data-bs-placement=\"top\" title=\"Edit\">\n" +
                                                        "                                                            <a href=\"/users/user/jobs/post/" + data[i].id + "\" class=\"avatar-sm success-bg-subtle d-inline-block text-center rounded-circle fs-18\">\n" +
                                                        "                                                                <i class=\"uil uil-edit\"></i>\n" +
                                                        "                                                            </a>\n" +
                                                        "                                                        </li>\n" +
                                                        "                                                        <li class=\"list-inline-item\" data-bs-toggle=\"tooltip\" data-bs-placement=\"top\" title=\"Delete\">\n" +
                                                        "                                                            <a onclick='deleteJob(" + data[i].id + ")' class=\"avatar-sm danger-bg-subtle d-inline-block text-center rounded-circle fs-18\">\n" +
                                                        "                                                                <i class=\"uil uil-trash-alt\"></i>\n" +
                                                        "                                                            </a>\n" +
                                                        "                                                        </li>\n" +
                                                        "                                                    </ul>\n" +
                                                        "                                                </div><!--end col-->\n" +
                                                        "                                            </div><!--end row-->\n" +
                                                        "                                        </div>\n" +
                                                        "                                    </div><!--end job-box-->";
                                                }
                                                $("#managed-jobs-list").html(content);
                                            })
                                        })
                                    }

                                    function deleteJob(job) {
                                        $.ajax({
                                                url: "/api/v1/jobs/" + job,
                                                type: "DELETE",
                                                data: JSON.stringify({
                                                    id : job
                                                }),
                                                contentType: "application/json; charset=utf-8"
                                            }
                                        ).done(function () {
                                            loadManagedJobs();
                                        });
                                    }
                                </script>

                                <div class="col-lg-12" id="managed-jobs-list">
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end container-->
                    </section>
                    <!-- END MANAGE-JOBS -->

                    <!-- DELETE Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Delete Jobs ?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <h6 class="text-danger"><i class="uil uil-exclamation-triangle"></i> Warning: Are you sure you want to delete job Post ?</h6>
                                        <p class="text-muted"> Your jobs post will be permenently removed and you won't be able to see them again, including the once you're shared with your friends.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-danger btn-sm">Yes, delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END DELETE MODAL -->

                </div>
                <!-- End Page-content -->

                <div th:insert="~{fragments :: footer}">

                <!--start back-to-top-->
                <button onclick="topFunction()" id="back-to-top">
                    <i class="mdi mdi-arrow-up"></i>
                </button>
                <!--end back-to-top-->
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


        <!-- Choice Js -->
        <script src="/libs/choices.js/public/assets/scripts/choices.min.js"></script>

        <!-- Candidate Init Js -->
        <script src="/js/pages/candidate.init.js"></script>

        <!-- Switcher Js -->
        <script src="/js/pages/switcher.init.js"></script>

        <script src="/js/app.js"></script>

    </body>
</html>