<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<head>
        
        <title>Manage Jobs Post | Jobcy - Job Listing Template | Themesdesign</title>

    <div th:insert="~{fragments :: meta}"></div>
</head>

<body >
<div th:insert="~{fragments :: preloader}"></div>
<div>
    <div th:insert="~{fragments :: top-bar}"></div>
    <div th:insert="~{fragments :: navbar}"></div>
            <div class="main-content">

                <div class="page-content">
                    <script>
                        function save(method, id) {
                            let keywords = document.getElementsByName('keywords');
                            let words = "[";
                            for (let i = 0; i < keywords.length; i++) {
                                if (keywords[i].checked) {
                                    words += "{\"id\" : " + keywords[i].value + "},";
                                }
                            }
                            if (words.length > 1) {
                                words = words.substring(0, words.length - 1);
                            }
                            words += "]";
                            $.ajax({
                                    url: "/api/v1/users/user/jobs",
                                    type: method,
                                    data: JSON.stringify({
                                        id : id == null ? null : document.getElementById('id').value,
                                        name: document.getElementById('name').value,
                                        userId : document.getElementById('userId').value,
                                        description: document.getElementById('description').value,
                                        location: document.getElementById('choices-single-location').value,
                                        categoryId: document.getElementById('choices-single-categories').value,
                                        qualification: document.getElementById('qualification').value,
                                        experienceId: document.getElementById('experience').value,
                                        type: document.forms.postForm.elements.type.value,
                                        salary: document.getElementById('salary').value,
                                        postDate: document.getElementById('postDate').value,
                                        keywords: JSON.parse(words),
                                        industryId : document.getElementById('industry').value
                                    }),
                                    contentType: "application/json; charset=utf-8"
                                }
                            ).done(function () {
                                window.location.href = "/manage-jobs";
                            });
                        }
                    </script>

                    <!-- Start home -->
                    <section class="page-title-box">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="text-center text-white">
                                        <h3 class="mb-4">Manage Job Post</h3>
                                        <div class="page-next">
                                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                                <ol class="breadcrumb justify-content-center">
                                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Manage Jobs</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page"> Manage Job Post </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </section>
                    <!-- end home -->

                    <!-- START SHAPE -->
                    <div class="position-relative" style="z-index: 1">
                        <div class="shape">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                                <path fill="" fill-opacity="1"
                                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                            </svg>
                        </div>
                    </div>
                    <!-- END SHAPE -->


                        <!-- START JOBS-POST-EDIT -->
                        <section th:if="${job != null}" class="section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="primary-bg-subtle p-3">
                                                <h5 class="mb-0 fs-17">Post a New Job!</h5>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                                <form id="postForm">
                                    <div class="job-post-content box-shadow-md rounded-3 p-4"> 
                                        <div class="row">
                                            <input id="id" type="hidden" th:value="${job.getId()}">
                                            <input id="userId" type="hidden" th:value="${job.getUser().getId()}">
                                            <div class="col-lg-12">
                                                <div class="mb-4">
                                                    <label for="name" class="form-label">Job Title</label>
                                                    <input id="name" type="text" th:value="${job.getName()}" class="form-control" placeholder="Title">
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-lg-12">
                                                <div class="mb-4">
                                                    <label for="description" class="form-label">Job Description</label>
                                                    <textarea id="description" class="form-control" th:text="${job.getDescription()}" rows="3" placeholder="Enter Job Description"></textarea>
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-4">
                                                    <label for="choices-single-categories" class="form-label">Categories</label>
                                                    <select name="category" class="form-select" data-trigger="" id="choices-single-categories" aria-label="Default select example">
                                                        <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getName()}" th:selected="${category.getId() == job.getCategory().getId()}">Digital & Creative</option>
                                                    </select>
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-4">
                                                    <label for="jobtype" class="form-label">Job Type</label>
                                                    <select name="type" class="form-select" data-trigger="" id="jobtype" aria-label="Default select example">
                                                        <option th:each="type : ${types}" th:value="${type.name()}" th:text="${type.name()}" th:selected="${type.name() == job.getType().name()}">Digital & Creative</option>
                                                    </select>
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-4">
                                                    <label for="industry" class="form-label">Industry</label>
                                                    <select name="industry" class="form-select" data-trigger="" id="industry" aria-label="Default select example">
                                                        <option th:each="industry : ${industries}" th:value="${industry.getId()}" th:text="${industry.getName()}" th:selected="${job.getIndustry().getId() == industry.getId()}">Digital & Creative</option>
                                                    </select>
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-4">
                                                    <label for="salary" class="form-label">Salary($)</label>
                                                    <input type="number" class="form-control" th:value="${job.getSalary()}" id="salary" placeholder="Salary">
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-4">
                                                    <label for="qualification" class="form-label">Qualification</label>
                                                    <input type="text" class="form-control" th:value="${job.getQualification()}" id="qualification" placeholder="Qualification">
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-4">
                                                    <label for="experience" class="form-label">Experience</label>
                                                    <select class="form-select" name="location" id="experience" aria-label="Default select example">
                                                        <option disabled selected value="">Select experience</option>
                                                        <option th:each="experience : ${experiences}" th:selected="${job.getExperience().getId() == experience.getId()}" th:value="${experience.getId()}" th:text="${experience.getLevel()}">exp</option>
                                                    </select>
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-4">
                                                    <label for="keywordsDiv" class="form-label">Keywords</label>
                                                    <div id="keywordsDiv" class="form-check mt-2" th:each="keyword : ${keywords}">
                                                        <input class="form-check-input" type="checkbox" id="keywords" name="keywords" th:value="${keyword.getId()}" th:id="keywords" th:checked="${job.getKeywords() != null && job.getKeywords().contains(keyword)}" />
                                                        <label class="form-check-label ms-2 text-muted" th:for="keywords" th:text="${keyword.getName()}">
                                                            Keyword
                                                        </label>
                                                    </div>
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-4">
                                                    <label for="choices-single-location" class="form-label">City</label>
                                                    <select class="form-select" name="location" id="choices-single-location" aria-label="Default select example">
                                                        <option disabled selected value="">Select city</option>
                                                        <option th:each="city : ${cities}" th:selected="${city.name() == job.getLocation()}" th:text="${city.name()}" th:value="${city.name()}">City</option>
                                                    </select>
                                                </div>
                                            </div><!--end col-->
                                            <input type="hidden" id="postDate" th:value="${job.getPostDate()}">
                                        </div><!--end row-->
                                    </div><!--end job-post-content-->
                                </form>
                                <div class="col-lg-12">
                                    <div class="text-end">
                                        <a href="/manage-jobs" class="btn btn-success">Back</a>
                                        <button type="submit" class="btn btn-primary" onclick="save('PUT',
                                                        document.getElementById('id')
                                                    )">Post Now<i class="mdi mdi-send"></i>
                                        </button>
                                    </div>
                                </div><!--end col-->
                            </div><!--end container-->
                        </section>
                        <!-- END JOBS-POST-EDIT -->

                    <section th:if="${job == null}" class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="primary-bg-subtle p-3">
                                        <h5 class="mb-0 fs-17">Post a New Job!</h5>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                            <form id="postForm">
                                <div class="job-post-content box-shadow-md rounded-3 p-4">
                                    <div class="row">
                                        <input id="userId" type="hidden" th:value="${userId}">
                                        <div class="col-lg-12">
                                            <div class="mb-4">
                                                <label for="name" class="form-label">Job Title</label>
                                                <input id="name" type="text" class="form-control" placeholder="Title">
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-lg-12">
                                            <div class="mb-4">
                                                <label for="description" class="form-label">Job Description</label>
                                                <textarea id="description" class="form-control" rows="3" placeholder="Enter Job Description"></textarea>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="choices-single-categories" class="form-label">Categories</label>
                                                <select name="category" class="form-select" data-trigger="" id="choices-single-categories" aria-label="Default select example">
                                                    <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getName()}">Digital & Creative</option>
                                                </select>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="jobtype" class="form-label">Job Type</label>
                                                <select name="type" class="form-select" data-trigger="" id="jobtype" aria-label="Default select example">
                                                    <option th:each="type : ${types}" th:value="${type.name()}" th:text="${type.name()}">Digital & Creative</option>
                                                </select>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="industry" class="form-label">Industry</label>
                                                <select name="industry" class="form-select" data-trigger="" id="industry" aria-label="Default select example">
                                                    <option th:each="industry : ${industries}" th:value="${industry.getId()}" th:text="${industry.getName()}">Digital & Creative</option>
                                                </select>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="salary" class="form-label">Salary($)</label>
                                                <input type="number" class="form-control"id="salary" placeholder="Salary">
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="qualification" class="form-label">Qualification</label>
                                                <input type="text" class="form-control" id="qualification" placeholder="Qualification">
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="experience" class="form-label">Experience</label>
                                                <select class="form-select" name="location" id="experience" aria-label="Default select example">
                                                    <option disabled selected value="">Select experience</option>
                                                    <option th:each="experience : ${experiences}" th:value="${experience.getId()}" th:text="${experience.getLevel()}">exp</option>
                                                </select>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="keywordsDiv" class="form-label">Keywords</label>
                                                <div id="keywordsDiv" class="form-check mt-2" th:each="keyword : ${keywords}">
                                                    <input class="form-check-input" type="checkbox" id="keywords" name="keywords" th:value="${keyword.getId()}" th:id="keywords" />
                                                    <label class="form-check-label ms-2 text-muted" th:for="keywords" th:text="${keyword.getName()}">
                                                        Keyword
                                                    </label>
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="choices-single-location" class="form-label">City</label>
                                                <select class="form-select" name="location" id="choices-single-location" aria-label="Default select example">
                                                    <option disabled selected value="">Select city</option>
                                                    <option th:each="city : ${cities}" th:text="${city.name()}" th:value="${city.name()}">City</option>
                                                </select>
                                            </div>
                                        </div><!--end col-->
                                        <input type="hidden" id="postDate" th:value="${#temporals.createNow()}">
                                    </div><!--end row-->
                                </div><!--end job-post-content-->
                            </form>
                            <div class="col-lg-12">
                                <div class="text-end">
                                    <a href="/manage-jobs" class="btn btn-success">Back</a>
                                    <button type="submit" class="btn btn-primary" onclick="save('POST',
                                                        null
                                                    )">Post Now<i class="mdi mdi-send"></i>
                                    </button>
                                </div>
                            </div><!--end col-->
                        </div><!--end container-->
                    </section>

                </div>
                <!-- End Page-content -->

                <div th:insert="~{fragments :: footer}">

                <!--start back-to-top-->
                <button onclick="topFunction()" id="back-to-top">
                    <i class="mdi mdi-arrow-up"></i>
                </button>
                <!--end back-to-top-->
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


        <!-- Choice Js -->
        <script src="/libs/choices.js/public/assets/scripts/choices.min.js"></script>

        <!-- Switcher Js -->
        <script src="/js/pages/switcher.init.js"></script>

        <script src="/js/app.js"></script>

    </body>
</html>